# Configuration for Git Submodules, managing dependencies.
# For more details on available options, refer to: https://git-scm.com

# simdjson: High-performance JSON parser using SIMD instructions.
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git

# WiredTiger: High-performance, scalable, open-source data engine.
[submodule "third_party/wiredtiger"]
	path = third_party/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger.git

# linenoise: A small self-contained alternative to readline and libedit.
[submodule "third_party/linenoise"]
	path = third_party/linenoise
	url = https://github.com/antirez/linenoise.git
	
